{% extends 'base.html.twig' %}

{% block title %}Random Cap{% endblock %}

{% block body %}
    <div class="defi-alea d-flex flex-column justify-content-center align-items-center">
        <h2 class="cap">ton défi aléatoire !</h2>
        <div class="color-white">
        <div class="cast-bloc pt-2 pb-2">
        <div class="infos-group text-center">
            <div class="label">Titre</div>
            <div class="infos">{{ defi.title }}</div>
        </div>
        <div class="infos-group text-center">
            <div class="label">Description</div>
            <div class="infos">{{ defi.description }}</div>
        </div>
        <div class="infos-group text-center">
            <div class="label">Document demandé</div>
            <div class="infos">{{ defi.format }}</div>
        </div>
        <div class="infos-group text-center">
            <div class="label">Points</div>
            <div class="infos">{{ defi.point }}</div>
        </div>
    </div>
        </div>
    </div>
    <div class="unknown-validator d-flex justify-content-center align-items-center">
        <div class="m-4">
            <form action="{{ path('cap_friend_alea', {'idFriend': friend.id}) }}">
                <button class="btn-simple">Autre</button>
            </form>
        </div>
        <div class="m-4">
            <form action="" method="post">
                <input type="hidden" name="id" value="{{ defi.id }}">
                <button class="btn-simple">Nickel</button>
            </form>
        </div>
    </div>
{% endblock %}
