{% extends 'base.html.twig' %}

{% block title %}New Cap{% endblock %}

{% block body %}
    <div class="card-defi margin-top">
        <h2>{{ defi.title }}</h2>
        <h4>envoyer par : {{ creator.username }}</h4>
        <p>{{ defi.description }}</p>
        <div>nombre de point pour ce défi: <span>{{ defi.point }}</span></div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn-simple">submit</button>
    {{ form_end(form) }}
</div>
{% endblock %}
