{% extends 'base.html.twig' %}

{% block title %}Inviter un ami{% endblock %}

{% block body %}
    <h1>Trouve ton ami</h1>
<div class="d-flex justify-content-center">
    <div class="form-search flex-column justify-content-center">
        {{ form_start(form) }}
            {{ form_widget(form) }}
        <button class="search-btn flex-column justify-content-center">Rechercher</button>
        {{ form_end(form) }}
    </div>
    <div class="list">
        {% for friend in friends %}
            <ul>
            <li><a href="{{ path('choose_challenge', {'id': friend.id}) }}">{{ friend.username }}</a></li>
            </ul>
        {% endfor %}
    </div>
</div>

{% endblock %}
