{% extends 'base.html.twig' %}

{% block title %}Mes défis !{% endblock %}

{% block body %}
<div class="body-center">
    {% if app.user %}
        <div id="user-score">{{ app.user.score }}</div>
        <div class="my-profile">
            <h1 class="m-0"> Mes défis : </h1>
            <div class="d-flex">
                <div class="flex-column justify-content-center logo-banner">
                    <a class="new-game banner-link" href="{{ path('cap_index') }}">
                        <img class="logo mb-4 mt-5" src="{{ asset('build/images/new.svg') }}" alt="New-logo">
                        <h2 class="text-center"><span class="green">Nouvelle partie</span></h2>
                    </a>
                </div>
            </div>
            <div class="d-flex score-logos">
                <div class="flex-column justify-content-center logo-banner">
                    <img class="mb-4 mt-5 logo" src="{{ asset('build/images/banner-star.svg') }}" alt="banner-star"/>
                    <h2><span class="green">Ton score</span><p id="countup">0</p></h2>
                </div>
                <div class="flex-column justify-content-center logo-banner">
                    <a class="banner-link" href="{{ path('ranking') }}">
                        <img class="mb-4 mt-5 logo" src="{{ asset('build/images/ranking.svg') }}" alt="banner-star"/>
                        <h2 class="green">Classement</h2>
                    </a>
                </div>
            </div>
            <div>
                <h3>à relever :</h3>
                <ul>
                    {% for catcherChallenge in app.user.catcherChallenges %}
                        {% if catcherChallenge.isSuccess == false %}
                            <li>
                                <a href="{{ path('cap_challenge', {'id' : catcherChallenge.id}) }}">{{ catcherChallenge.defi.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h3>lancés :</h3>
                <ul>
                    {% for creatorChallenge in app.user.creatorChallenges %}
                        {% if creatorChallenge.isSuccess == false %}
                            <li><a href="{{ path('cap_cast', {'id' : creatorChallenge.id}) }}">{{ creatorChallenge.defi.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h3>accomplis :</h3>
                <div class="accompli">
                    <div class="creator">
                        <p>Mes amis</p>
                        <ul>
                            {% for creatorChallenge in app.user.creatorChallenges %}
                                {% if creatorChallenge.isSuccess %}
                                    <li><a href="{{ path('cap_validate', {'id' : creatorChallenge.id}) }}">{{ creatorChallenge.defi.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="catcher">
                        <p>Moi</p>
                        <ul>
                            {% for catcherChallenge in app.user.catcherChallenges %}
                                {% if catcherChallenge.isSuccess %}
                                    <li><a href="{{ path('cap_done', {'id' : catcherChallenge.id}) }}">{{ catcherChallenge.defi.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

    {% else %}
        <p> Il faut d'abord se connecter</p>
        <a href="{{ path('app_login') }}">Se connecter</a>
    {% endif %}
</div>
{% endblock %}
