{% extends 'base.html.twig' %}

{% block title %}Mes défis !{% endblock %}


{% block body %}

    {% if app.user %}
        <div id="user-score">{{ app.user.score }}</div>
        <div class="my-profile">
            <h1 class="m-0"> Mes défis : </h1>
            <div class="container-fluid score-logos">
                <div class="logo-banner">
                    <img class="logo" src="{{ asset('build/images/banner-star.svg') }}" alt="banner-star"/>
                </div>

                <div class="logo-banner">
                    <a href="{{ path('ranking') }}"><img class="logo" src="{{ asset('build/images/ranking.svg') }}" alt="banner-star"/></a>
                </div>
            </div>
            <div class="container-fluid score">

                <h2 class="title-score">Ton score : <p id="countup">0</p></br>  points </h2>
                <h2>Classement</h2>

            </div>
            <div>
                <h3>à relever :</h3>
                <ul>
                    {% for catcherChallenge in app.user.catcherChallenges %}
                        {% if catcherChallenge.isSuccess == false %}
                            <li>
                                <a href="{{ path('cap_challenge', {'id' : catcherChallenge.id}) }}">{{ catcherChallenge.defi.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h3>lancés :</h3>
                <ul>
                    {% for creatorChallenge in app.user.creatorChallenges %}
                        {% if creatorChallenge.isSuccess == false %}
                            <li><a href="{{ path('cap_cast', {'id' : creatorChallenge.id}) }}">{{ creatorChallenge.defi.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h3>accomplis :</h3>
                <div class="accompli">
                    <div class="creator">
                        <p>Moi</p>
                        <ul>
                            {% for creatorChallenge in app.user.creatorChallenges %}
                                {% if creatorChallenge.isSuccess %}
                                    <li><a href="{{ path('cap_validate', {'id' : creatorChallenge.id}) }}">{{ creatorChallenge.defi.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="catcher">
                        <p>Mes amis</p>
                        <ul>
                            {% for catcherChallenge in app.user.catcherChallenges %}
                                {% if catcherChallenge.isSuccess %}
                                    <li><a href="{{ path('cap_done', {'id' : catcherChallenge.id}) }}">{{ catcherChallenge.defi.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <a href="{{ path('cap_index') }}" class="link-new-game"> + </a>
        </div>
    {% else %}
        <p> Il faut d'abord se connecter</p>
        <a href="{{ path('app_login') }}">Se connecter</a>
    {% endif %}

{% endblock %}
