{% extends 'base.html.twig' %}

{% block title %}Mes défis !{% endblock %}


{% block body %}
    <div class="ranking">
        <img class="banner-logo" src="{{ asset('build/images/banner.svg') }}" alt="banner-star"/>

        <h3>Le Classement :</h3>
        <img class="badge-first" src="{{ asset('build/images/badge.svg') }}" alt="banner-star"/>

        <ul>
            {% for user in users %}
                <li>{{ loop.index }}/ {{ user.username }} : <span class="score">{{ user.score }}</span></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}